body {
    background-color: #110b11;
    font-family: 'Courier New', Courier, monospace;
}

#layout {
    display: flex;
    flex-direction: row;
}

#buttons {
    margin-bottom: 25px;
    padding: 2vh;
}

#custom {
    background-color: #110b11;
    border: 2px solid #B7990D;
    border-radius: 2px;
    color: #dadada;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    border-radius: 2px;
    width: fit-content;
}

#grid {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
}

#square {
    width: 5px;
    height: 5px;
}

.active {
    background-color: black;
}